.omx/
.omc/
.DS_Store
**/.DS_Store
backend/.env
frontend/.env
.env
.env.*
!.env.example
!backend/.env.example
!frontend/.env.example
*.backup
*.tsbuildinfo
node_modules/
dist/
.planning/
*.pdf

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
